
.article {color:blue;font-size12px;background-color:black;}

.link {color:red;font-size16px;}

ul {color:black;}

p {color:black;}

#not-vegan {color:green;background-color:blue;}

#vegan {color:red;background-color:black;}